<!DOCTYPE html> <!-- this is not an HTML tag and it only declares the doc type and informs the browser that the doc type is HTML 5 -->
<html>
    <head> <!--each HTML is divided into head(contains info about the doc not displayed on the screen) and body(element that contains everything else displayed as part of the web page) -->
        <title>Django Girls Blog</title> <!-- will be in the titl bar pf the browser! -->
    </head> <!--the most basic tag and its always the end of html content -->
    <body>
         <header> <!-- header contains the blog title, a heading and a link-->
            <h1><a href="/">Django Girls Blog</a></h1>
        </header> 
    <!-- both article elements contain blog posts w/
    published date in a time element, a h2 element with a post 
    title that is clickable and a p (paragraph) element for text of our blog post. -->  
    <!--posts will display like the static posts created in intro to HTML!-->
    {% for post in posts %}
        <article>
            <time>published: {{ post.published_date }}</time>
            <h2><a href="">{{ post.title }}</a></h2> <!-- accessing data in each of the fields defined in our post model -->
            <p>{{ post.text|linebreaksbr }}</p> <!-- linebreaksbr is a filter that converts line breaks in the text to HTML line breaks -->
        </article>
    {% endfor %} 
    </body>
</html> <!-- always at the end of the content! -->

<!-- 
CUSTOMIZE YOUR TEMPLATE!!
<h1>A heading</h1> for your most important heading

<h2>A sub-heading</h2> for a heading at the next level

<h3>A sub-sub-heading</h3> …and so on, up to <h6>

<p>A paragraph of text</p>

<em>text</em> emphasizes your text

<strong>text</strong> strongly emphasizes your text

<br> goes to another line (you can't put anything inside br and there's no closing tag)

<a href="https://djangogirls.org">link</a> creates a link

<ul><li>first item</li><li>second item</li></ul> makes a list, just like this one!

<div></div> defines a section of the page

<nav></nav> defines a set of navigation links

<article></article> specifies independent, self-contained content

<section></section> defines a section in a document

<header></header> specifies a header for a document or section

<main></main> specifies the main content of a document

<aside></aside> defines some content aside from the content it is placed in (like a sidebar)

<footer></footer> defines a footer for a document or section

<time></time> defines a specific time (or datetime)
-->


